* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: #000000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-itens a{
    position: relative;
    color: #000000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-itens a:before{
    content: '';
    position: absolute;
    background: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease; 
}

header .navigation .navigation-itens a:hover:before{
    width: 100%;
}

.heading{
    padding: 2rem;
    background: hsl(192, 80%, 72%);
    border: 2px solid #fff;
    margin: 0%;

}

.about .row{
    display: flex;
    align-items: center;;
    flex-wrap: wrap;
    padding: 5rem 0;
    background-color: hsl(192, 80%, 72%);
}


.about .row .video-container{
    flex: 1 1 5rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #ffffff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #ffefef;
    padding: 1rem 1rem;
    text-align: center;
    mix-blend-mode: screen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 0px;
    margin: 36px;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h4{
    font-size: 3rem;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #161515;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about {
    height: 100vh;
}