@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(90deg, rgba(90,30,159,1) 0%, rgba(77,39,182,1));
}

body h2{
    color: white;
    font-size: 32px;
}
/* caixinha de fundo */
main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
    font-size: 24px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.answer {
    font-size: 24px;
}
.answer.correct {
    font-size: 24px;
    background-color: green;
}
.answer.erro {
    font-size: 24px;
    background-color: red;
}

.question {
    font-size: 24px;
}
/* botão de reiniciar */
button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008ccc;
    color: white;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button {
    text-align: center;
    font-size: 32px;
}

.finish span {
    font-size: 32px;
}